body{
    text-align: center;
    background-image: url(../images/starfield.png);
    font-family: 'Space Mono', monospace;
}
#battleArena{
    background-image: url(../images/battlearena.jpg);
}
h1, h2, h3{
color: yellow;
}